@model BugTrackerApp.Models.ProjectUserViewModel
@{
    ViewBag.Title = "AddUserToProject";
}

<h2>AddUserToProject</h2>

@ViewBag.Nothing
@ViewBag.ProjectId
@foreach (var user in Model.Users)
{
    <li>@user.UserName</li>
}
@foreach (var user in Model.Projects)
{
    <li>@user.Name</li>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-group">
        @Html.LabelFor(model => model.Projects, "ProjectId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Projects, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Users, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Users, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
